*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center ;
    color: #4BAAB3;
}
#nomedatarefa{
    width: 100%;
    height: 40px;
    margin-left: 10px; 
    border-radius:10px;
}
#alinhamento{
    margin-left: 150px;
    margin-top: 10px;
}

.btn{
    background-color: #8DFFF6;
}

#titulo{
    color: #4BAAB3;
}  
